.coinListWrapper {
  display: flex;
  flex-direction: column;
}

h1.coinListTitle {
  flex: none;
}

ul.coinList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  flex: 1;
  overflow-y: auto;

  li {
    margin: 10px 0;
    padding: 15px;
    line-height: 30px;
    height: 30px;

    border: 1px solid gray;
    background-color: #fefefe;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    & > *:not(.actions) {
      flex: 1;
    }

    .actions {
      .action {
        margin: 0 5px;

        &.clickable {
          cursor: pointer;
        }

        &.add {
          color: #29b6f6;
        }

        &.added {
          color: #9e9e9e;
        }

        &.buy {
          color: #81c784;
        }

        &.sell {
          color: #f44336;
        }
      }
    }
  }
}

.error {
  padding: 20px;
  border: 1px solid #5f4343;
  background-color: #ffbaba;
  color: #5f4343;
  border-radius: 5px;
}
